# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
Debug/
Release/
x64/
x86/

# Compiled Object files
*.obj
*.o

# Executable files
*.exe
*.out

# Debug files
*.pdb
*.ilk

# Logs
*.log
*.tlog

# Cache files
ipch/
*.lastbuildstate